/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.panel-heading input {
  width: 100%;
}

.panel-body textarea {
  width: 100%;
}

button[data-submit] {
  margin-left: 6px;
}
